.teacher-name {
    position: absolute;
    left: 20px;
    top: 13%;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.bar-left.collapsed .teacher-name {
    opacity: 0; 
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, height 0.3s ease;
    pointer-events: none;
}